---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Peter Kerins | Software Engineer">
  <main>
    <div class="px-4 sm:px-0 relative mb-2 min-h-[60vh] flex max-w-7xl mx-auto">
      <div class="max-w-6xl text-white py-5 mx-auto my-auto">
        <p class="text-2xl lg:text-5xl font-semibold">
          <s>Cork</s>Kilkenny based software engineer focused on building
          user-centred applications that combine functionality and form
        </p>
      </div>
    </div>
  </main>
</Layout>
